{% extends "base.html" %}
{% block title %} Записать данные {% endblock title %}
{% block content %}
    <a href = "{% url 'HomePage' %}">
        <button> Назад </button>
    </a>
    <h1> Медицинские показатели </h1>
    <p> Заполните все поля и добавьте свои данные, чтобы создать запись </p>
    <form method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        
        <p>Куда записать ваши данные?</p>
        <div class = "chooseOutput">
            <input type = "radio" name = "outputType" value = "file" checked/>
            <label> Файл </label>

            <input type = "radio" name = "outputType" value = "database"/>
            <label> База данных </label>
        </div>

        <button type = "submit"> Добавить запись! </button>
    </form>
{% endblock content %}
