{% extends "base.html" %}
{% block title %} Данные о записи в JSON {% endblock title %}
{% block content %}
    <a href = "{% url 'HomePage' %}">
        <button class = 'btn btn-outline-primary btn-sm'> Назад </button>
    </a>
    
    {% if error %}
        <p>Ошибка: {{ error }}</p>

    {% else %}
        {% for key, value in data.items %}
            {%if key == name %}
                <h2>{{user_name}}</h2>
                <ul>
                    {% for key_note, value_note in value.items%}
                        {% if key_note != 'title' %}
                            <li class="list-group-item">
                                <p>{{ key_note }}-{{ value_note }}</p>
                            </li>
                        {% endif %}
                    {% endfor %}                        
                </ul>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endblock content %}