services:
  web:
    container_name: django
    
    build:
      context: .
      dockerfile: dockerfile
    
    command: python manage.py runserver 0.0.0.0:8000

    volumes:
      - .:/app
    
    working_dir: /app

    ports: 
      - "8000:8000"